<h2>Students</h2>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource"> 
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.id.substring(0,3)}} 
        <a fxFlexFill routerLink="/detail/{{student.id}}" class="mat-row-link"></a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.address}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="container">
<h2>Create new students</h2>
<form [formGroup]="studentForm" (ngSubmit)="createStudent()">
  <div class="form-group">
    <label for="name">
      Name: 
    </label>
    <input class="form-control" id="name" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label for="address">
      Address: 
    </label>
    <input  class="form-control"id="address" type="text" formControlName="address">
  </div>
  <button class="btn btn-success" type="submit">Create Student</button>
</form>
</div>

